
!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<nav th:replace="fragments/nav :: nav">.........</nav>
	<div th:include="fragments/sideMenu :: sideMenu"></div>
	<div th:replace="fragments/deleteConfirmationModal :: deleteConfirmationModal"></div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="fragments/page-header"></h1>
		<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Consumibles</h3>
				</div>
				<div class="panel-body">
		<table class="table table-striped data-tables">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Detalle</th>
					<th>Cantidad</th>					
					<th>Minimo</th>	
					<th>Consumir</th>		
				</tr>
			</thead> 
			<tbody>
				<tr th:each="consumible : ${consumibles}">
					<td th:text="${consumible.nombre}"></td>		
					<td th:text="${consumible.detalle}"></td>	
					<td th:text="${consumible.cantidad}"></td>	
					<td th:text="${consumible.minimo}"></td>	
					<td>
						<a class="btn btn-default"	th:href="'/consumibles/consumir/' + ${consumible.id}"> 
							<span title="Consumir" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</a>
					</td>			   						
				</tr>
			</tbody>
		</table>
		<!-- 		
		<a href="baterias/bateria/new" title="Agregar"  class="btn btn-default" role="button">Nueva Almacen</a> 
		-->
	</div>
	</div>
	</div>
	<div th:include="fragments/footer :: scripts"></div>
	<div
		th:replace="fragments/deleteConfirmationModal :: deleteConfirmationScripts"></div>
</body>
</html>

